/* Naziya */
@import url(index.css);

.signupwidth {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.wrapper17 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	position: relative;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
	width: 100%;
	margin-top: 60px;
	border-color: var(--accent-color);
	border-style: solid;
	border-width: 2px;
	border-radius: 20px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper17 h2 {
	position: relative;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 0px;
}

.wrapper17 form {
	margin-top: 10px;
}

.wrapper17 form .input-box17 {
	height: 45px;
	margin: 18px 0;
}

form .input-box17 .input17 {
	height: 90%;
	width: 160px;
	outline: none;
	padding: 0 15px;
	font-size: 15px;
    caret-color:var(--accent-color);
	border-radius: 800px;
	font-weight: 400;
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border: 1px solid;
	border-left: 2px solid;
	border-right: 2px solid;
	border-color: var(--accent-color);
}

.input-box17 .input17:focus {
	border-color: var(--secondary-color);
}

.input17::-webkit-outer-spin-button,
.input17::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form .policy17 {
	display: flex;
	align-items: center;
}

.input-box17 {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.rule17 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: -10px;
}

.ruler17 {
	justify-self: center;
	margin-top: 12px;
	border-radius: 20px;
	border: 1.5px solid var(--ruler-color);
	background-color: var(--ruler-color);
	width: 40%;
}

form h3 {
	color: var(--primary-color);
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}

.input-box17.button .input17 {
	color: #fff;
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	height: 34px;
    caret-color:var(--accent-color);
	letter-spacing: 1px;
	border: none;
	background: var(--accent-color);
	cursor: pointer;
}

.input-box17.button17 .input17:hover {
	background: var(--accent-color);
}

.texth317 {
	display: flex;
	margin-top: 28px;
	font-size: 15px;
	align-items: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	justify-content: center;
	color: var(--secondary-color);
	width: 100%;
}

.text117 {
	position: relative;
}

.formheading {
	color: var(--secondary-color);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	margin-top: 20px;
}

.themebutton17 {
	border: solid 3px transparent;
	border-radius: 20px;
	background-color: transparent;
	position: absolute;
	right: 40px;
	top: 34px;
	z-index: 9;
}

.themeicon17 {
	transition: 2s;
}

.input-box17 img {
	margin-right: 20px;
}

@media (max-width: 420px) {
	form .input-box17 .input17 {
		width: 150px;
		outline: none;
		padding: 0 10px;
		font-size: 17px;
		font-weight: 400;
		background-color: var(--primary-color);
		color: var(--secondary-color);
		border: 1px solid;
		border-color: var(--accent-color);
		border-radius: 80px;
	}
}

.submitstatus {
	position: relative;
	width: 100;
	top: 5%;
	padding: 10px;
	color: rgb(0, 255, 0);
	margin-top: 20px;
	margin-bottom: -15px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

.messagefield {
	background-color: var(--primary-color);
	border-radius: 12px;
	padding: 10px;
    caret-color: var(--accent-color);
	font-size: 15px;
	border: 2px solid var(--accent-color);
	min-width: calc(100% - 22px);
	max-height: 70px;
    max-width: 225px;
	min-height: 45px;
	color: var(--secondary-color);
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	text-transform: capitalize;
}
