.search-box{
    position: relative;
    /* transform: translate(-50%, -50%); */
    background: var(--primary-color);
    height: 20px;
    border-radius: 40px;
    border-color: #7A0AEB;
    border-style: solid;
    padding: 10px;
}

.search-box:hover > input{
    width: 100px;
    padding: 0 10px;

}

.icon:hover{
    transform: rotate(180deg);
}

input{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    margin-top: -9px;
    color: var(--primary-color);
    
}

.icon{
    float: right;
    width: 20px;
    font-size: 1.3rem;
    height: 21px;
    border-radius: 50%;
    border-style: solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}