.naziyaaly{
    background-color: transparent;
    width: 100%;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.search-box{
    position: absolute;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 40px;
    border-radius: 40px;
    border-color: #7A0AEB;
    border-style: solid;
    padding: 10px;
}

.search-box:hover > input{
    width: 200px;
    padding: 0 10px;

}

/* .search-box:hover > .icon{
    background: #7a0aeb;

} */

.iconnaz:hover{
    transform: rotate(360deg);
}

.inputsearchnaz{
    width: 0;
    border: none;
    outline: none;
    padding: 0;
    background: none;
    font-size: 1.1rem;
    transition: 0.5s ease;
    line-height: 40px;
    color: #fff;
}

.iconnaz{
    
    color: #21dfcd;
    float: right;
    width: 40px;
    font-size: 1.3rem;
    height: 40px;
    border-radius: 50%;
    border-color: #ffffff;
    border-style: solid 2px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
}