{% comment %} Naziya {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index(Second).css" >
    <link rel="stylesheet" href="/static/Search.css">
    <link rel="icon" href="/static/SublimeText.png" type="image/icon type">
    <title>Nazloop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/nav.js" defer></script>
</head>



<body class="body" style="overflow-x: hidden;">



                    <!-- NAVBAR SECTION -->

    <header>
        <nav class="naz">
            <img class="naz logo" src="/static/SublimeText12.png" id="nazloop" width="250px" >

            <button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
                <span class="sr-only sr-only"></span>
            </button>


            <ul class="primary-navigation" id="primary-navigation" data-visible="false">
                
                <li class="par home1"><a href="index.html" class="navbartextcolor">Home</a></li>
                <!-- <li class="par"><a href="#" class="navbartextcolor">Services</a></li> -->
                <li class="par"><a href="#work" class="navbartextcolor">Work</a></li>
                <li class="par"><a href="#contact" class="navbartextcolor">Contact</a></li>
                <a type="button" class="button" href="/Signup" target="_new"><span>Sign Up</span></a>

                

                <div class="search-box" style="list-style: none;">
                    <input type="text" style="color: blueviolet;" placeholder="Search......"/>
                    <a href="##" class="icon">
                        <i class="icon"> 
                            <img src="/static/Test/Searchicon.png" width="30px" id="searchicon">
                        </i>    
                    </a>
                </div>
                
            </ul>

            <ul class="middle-nav">
                <li><a href="index.html"><img src="/static/Assets/home.png" width="30px" style="padding-top: 4px;"></a></li>
                <!-- <li><a href="#"><img src="/New folder (3)/services1.png" width="30px" style="padding-top: 4px;"></a></li> -->
                <li><a href="#work"><img src="/static/Assets/suitcase.png" width="30px" style="padding-top: 4px;"></a></li>
                <li><a href="#contact"><img src="/static/Assets/name-icon.png" width="40px" style="padding-top: 4px;"></a></li>
            </ul>

        </nav>

                            <!-- MY SECTION -->
        <div class="image imageflex spinner"> 
            <button class="themebutton"><img class="themeicon" src="/static/Assets/moon(1).png" width="28px" id="naziya5"></button>
            <!-- <img class="center1"> -->
        </div>

        <!-- <input id = "colorpicker" type = "color" value="#7A0AEB" class="colo"> -->

        
        
        
        <p class="name">Subhan Ali Zaidi</p>
        <p class="info">Programmer  |  Web Developer  |  An Artist</p>
        <div class="center212 centercard">
            <a class="ResumeButton" id="saz" href="/static/Assets/Subhan Ali (CV).pdf" download="Subhan Ali (CV).pdf"><i class="fa fa-cloud-download" style="font-size:20px; margin-right: 10px;" ></i> Download CV</a>
        </div>
        <hr width="30%" style="border: 1px solid var(--secondary-color); white-space: normal; margin-top: 30px; margin-bottom: 0px; background-color: #000000;" id="work">







                            <!-- WORK SECTION -->

        <p class="projectheading">SOME CODING PROJECTS</p>

        <div class="center21 centercard">
            <p class="text1" style="font-weight: bold; font-size: 18px; color: var(--secondary-color);">HTML<br><img src="/static/Assets/html.png" width="100px" style="padding-top: 15px;" >
                <button class="projectbutton" style="margin-top: 20px;"><i class="fa fa-download"></i> Project</button>

            </p>
            <p class="text1" style="font-weight: bold; font-size: 18px; color: var(--secondary-color);">PYTHON
                <img src="/static/Assets/python.png" width="80px" style="padding-top: 30px;"><br>
                <a class="projectbutton" style="margin-top: 25px;" href="/static/apps/Python Projects.zip" download="Python Projects.zip"><i class="fa fa-download"></i> Project</a>
            </p>
            <pre class="text1" style="font-weight: bold; font-size: 18px; color: var(--secondary-color);">CSS<br><img src="/static/Assets/css.png" width="100px" style="padding-top: 14px;"><br><button class="projectbutton" style="margin-top: 22px;"><i class="fa fa-download"></i> Project</button>
            </pre>
        </div>

        <hr width="40%" style="border: 1px solid var(--secondary-color); white-space: normal; margin-top: 30px; margin-bottom: 20px; background-color: #000000;">


                            <!-- CONTENT SECION -->

        <p class="projectheading" style="margin-bottom: 25px;">SOFTWARE FOR WINDOWS AND ANDORID</p>

        <div class="centercard">
            <div class="textforappinfo">
                <p style="font-weight: bold; font-size: 20px; margin-bottom: 5px;"><img src="/static/Assets/icon.png" width="75px" id="img1" style="justify-content: center; margin-bottom: 12px; border-radius: 0px;"><br>Naz Text Editor<br>

                    <hr width="10%" style="border: 1px solid var(--secondary-color); white-space: normal; margin-top: 15px; margin-bottom: 0px; background-color: #000000;" id="work">

                    <p style="text-align: justify;">
                        This is text editor for windows operating system. I coded this in <b>PYTHON</b> programming language. It can do basic text editing like making text bold, changing text color,  font size, font family, font weight etc. You can do more than whatever you do on notepad like saving file, open text or html files. Although there are some bugs in it, which i am trying to fix but still you can perform your daily life text action in it. If you want to download this software you can download it from below and install it in your windows operating system.<br> <br>
                        
                        <b>Note:</b> This software will not work on Linux, Ubuntu or MacOs. If you want to run Naz Text Editor in these operating system you can run this as a python script which you will get <a href="https://github.com/Subhan-bot/Naz-Text-Editor.git" target="_new" style="text-decoration: none; color: #F65A5A;">here</a>.
                    </p>

                    <a class="projectbutton" style="margin-top: 5px;" href="/static/apps/Naz Text Editor.exe" download="Naz Text Editor.exe"><i class="fa fa-download"></i> Download</a>
                    <button class="projectbutton" style="margin-top: 5px;"> Run Here</button>

                </p>
            </div>
        </div>

        <br>

        <div class="centercard">
            <div class="textforappinfo">
                <p style="font-weight: bold; font-size: 20px; margin-bottom: 5px;"><img src="/static/Assets/1024.png" width="75px" id="img2" style="justify-content: center; margin-bottom: 12px; border-radius: 15px;" border-radius: 10px;><br>Calculator<br>

                    <hr width="10%" style="border: 1px solid var(--secondary-color); white-space: normal; margin-top: 15px; margin-bottom: 0px; background-color: #000000;" id="work">

                    <p style="text-align: justify;">
                        It's a basic calculator app for android. I created this app in <b>JAVASCRIPT</b>. In this app you can do basic Maths Calculation like addition, substraction, multiplication etc. This app's supports Android 10(Q) and may be Android 11(R). It doesn't supports latest android version Android 12. And there is some bugs in this app so some time this app will crash on your smartphone. I will fix them very soon but for now atleast you can give it a try by downloading and installing it in your android devices. You can download this app from below.<br><br>

                        <b>Note:</b> There is some bugs so maybe this app will not install on your devices or maybe not work properly.
                    </p>

                    <a class="projectbutton" style="margin-top: 5px;" href="/static/apps/Calculator.apk" download="Calculator.apk"><i class="fa fa-download"></i> Download</a>

                </p>
            </div>
        </div>

        <br>
        <hr class="ruler" width="40%" style="border: 1px solid var(--secondary-color); white-space: normal; margin-top: 20px; margin-bottom: 20px; background-color: #000000;">

        <br>


        <!-- <div class="center">
            <p class="text clearfix" >
                <br>
                <b style="font-size: 20px;">Why This Website?</b>
                <br><br>
                As you can see this is a personal portfolio website. I created this website using <b>HTML, CSS</b> and <b>JAVASCRIPT</b>. Here you can check all my work/project. As for now above are all work which i did till date.
            </p>
        
        </div> -->
<!-- 
        <div class="nothing">

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt modi similique id nobis, beatae aut corporis adipisci asperiores aliquid ipsum animi magnam Lorem ipsum dolor sit, amet consectetur adipisicing
        </div> -->





                            <!-- CONTACT ME SECTION -->

        <div style="position:relative ;" class="blur" id="contact">
            <hr color="#7A0AEB" size="2px">
            <footer>
                <div>
                    <p style="font-size: 25px; color: #7A0AEB; text-align:center; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif;">
                        <b>CONTACT ME</b>
                    </p>
                </div>
    
                <div style="text-align: center;">
                    <a target="_blank" href="https://www.instagram.com/subhan_aliii/"><img src="/static/Assets/instalogo.png" width="35px" class="centerImage" style="margin-top: 5px;margin-bottom: 0px"></a> <a target="_blank" href="https://www.facebook.com/profile.php?id=100049033592353"><img src="/static/Assets/facebooklogo.png" width="35px" class="centerImage" style="margin-top: 5px; margin-bottom: 0px;"></a> <a target="_blank" href="https://t.me/subhan7786"><img src="/static/Assets/telegramlogo.png" width="31px" class="centerImage" style="margin-top: 5px; margin-bottom: 2px; margin-left: 2px;"></a>
    
                    <div style="text-align: center; font-size: 15px; color: var(--secondary-color); font-family: Arial, Helvetica, sans-serif; line-height:25px">
                        <p>
                            Nazloop©2022 All Rights Reserved
                            <br>
                            Design And Developed By Subhan Ali
                            <br>
                            ......<b class="naz1">❤</b>
                        
                        </p>
                    </div>
                </div>
            </footer>  
            <div class="nothing">
                <p>
                    <br>
                    <b style="font-size: 20px;">Why This Website?</b>
                    <br><br>
                    As you can see this is a personal portfolio website. I created this website using <b>HTML, CSS</b> and <b>JAVASCRIPT</b>. Here you can check all my work/project. As for now above are all work which i did till date. Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, assumenda! Ea soluta ducimus sit inventore eos. Id a eligendi tempore, dolorem velit commodi beatae quaerat! Ad enim qui deleniti iste?
                </p>
            
            </div>
        </div>

    </header>



<script>
    var naziya5= document.getElementById("naziya5");

    naziya5.onclick= function() {
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme")) {
            naziya5.src = "/static/Assets/sun.png";
            nazloop.src = "/static/SublimeText1.png";
            searchicon.src = "/static/Test/Searchicon1.png";
        }
        else{
            naziya5.src = "/static/Assets/moon(1).png";
            nazloop.src = "/static/SublimeText12.png";
            searchicon.src = "/static/Test/Searchicon.png";
        }
    }
</script>
  
</body>
</html>